@font-face {
    font-family: "Blissfont";
    src: url(fonts/Sriracha-Regular.ttf);
}

body {
    display: flex;
}

.mainbg {
    background-image: url('background.png');
    height: 130vh;
    width: 40vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 60vw;
    background-color: blueviolet;
}

.textcontainer {

    flex: 0 1 33.33%;
    background-color: green;
}

.formcontainer {
    flex: 0 1 33.33%;
    background-color: pink;

}

.textwrap {
    margin-top: 10%;
    background-color: blueviolet;


}

.logoarea {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    margin-top: 38%;
    opacity: 40%;
    background-color: chocolate;
    height: 17%;
    font-family: 'Blissfont', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.botcontainer {
    flex: 0 1 33.33%;
    background-color: aquamarine;
}