body {
    display: flex;
}

.mainbg {
    background-image: url('background.png');
    height: 130vh;
    width: 40vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 60vw;
    background-color: blueviolet;
}

.textcontainer {

    flex: auto;
    background-color: green;
}

.formcontainer {
    flex: auto;

    background-color: pink;

}

.botcontainer {
    flex: auto;
    background-color: aquamarine;
}